.flex-container {
  background-color:aquamarine !important;
  display: flex;
  justify-content: space-between;
}

.flex-container > div {
  background-color: #994444;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}